footer {
  font-weight: 500;
  text-align: center;
  color: #828282;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding: 30px 5px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: inherit;
}

.button span {
  margin-right: 7px;
}

.main {
  max-width: 720px;
  margin: 6rem auto 0 auto;
  flex: 1 1 auto;
  padding: 10px;
}

.author-quotes h2 {
  padding: 0 0 10px 50px;
  font-size: 36px;
  font-weight: 700;
}

.error {
  text-align: center;
  padding: 100px;
}

.loader {
  text-align: center;
  margin: 20rem auto;
}

@media (max-width: 425px) {
  .main {
    margin: 3rem auto 0 auto;
  }

  .author-quotes h2 {
    font-size: 28px;
  }
}
